/*Fontes*/
@font-face {
    font-family: "FjallaOne";
    src: url("../fonts/FjallaOne-Regular.ttf") 
    format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work_Sans";
    src: url("../fonts/Work_Sans/static/*") 
    format("truetype");
    font-weight: 400;
    font-style: regular;
    font-display: swap;
}

 body{
    background-color: #151515;
    color: #eaf0f3;
 }    

h1{
    font-size: 40px;
    font-family:"FjallaOne", sans-serif;
    text-align: center;
    margin-top: 60px;
    
 }
    
